* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

header img {
    height: 36px;
    margin-right: 10px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

table tr th {
    padding: 0 50px;
}